In [94]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [95]:
df_2 = pd.read_csv("churn-bigml-80.csv")
df_2

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [96]:
# Concatenating df_1 and df_2
telecom_customer_data = pd.concat([df_1, df_2], axis=0)

telecom_customer_data.reset_index(drop=True, inplace=True)

telecom_customer_data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
3329,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3330,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3331,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [97]:
df = telecom_customer_data
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
3329,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3330,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3331,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [98]:
# Summary statistics of the numerical columns
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [99]:
# Checking for missing values
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

Data Preprocrssing

In [100]:
# Converting categorical variables to numerical (Label Encoding for binary columns)
label_encoder = LabelEncoder()

df['International plan'] = label_encoder.fit_transform(df['International plan'])
df['Voice mail plan'] = label_encoder.fit_transform(df['Voice mail plan'])
df['Churn'] = label_encoder.fit_transform(df['Churn'])

# One-hot encoding for the 'State' column
data = pd.get_dummies(df, columns=['State'], drop_first=True)

# Checking the processed data
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,0,0,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
1,IN,65,415,0,0,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
2,NY,161,415,0,0,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,1
3,SC,111,415,0,0,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,0
4,HI,49,510,0,0,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,0

Feature and Target Selection

In [101]:
# I am creating new feature: Total minutes (sum of day, evening, and night minutes)
df['Total minutes'] = df['Total day minutes'] + df['Total eve minutes'] + df['Total night minutes']

# I then drop individual minute columns as they are now combined into 'Total minutes'
X = df.drop(columns=['Churn', 'Total day minutes', 'Total eve minutes', 'Total night minutes'])
y = df['Churn']

X.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day calls,Total day charge,Total eve calls,Total eve charge,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Total minutes
0,LA,117,408,0,0,0,97,31.37,80,29.89,90,9.71,8.7,4,2.35,1,751.9
1,IN,65,415,0,0,0,137,21.95,83,19.42,111,9.40,12.7,6,3.43,4,566.4
2,NY,161,415,0,0,0,67,56.59,97,27.01,128,7.23,5.4,9,1.46,4,811.3
3,SC,111,415,0,0,0,103,18.77,102,11.67,105,8.53,7.7,6,2.08,2,437.3
4,HI,49,510,0,0,0,117,20.28,109,18.28,90,8.04,11.1,1,3.00,1,513.1

Target selection

In [102]:
# Dropping target variable and save it in y
y = df['Churn']
X = df.drop(columns=['Churn'])

# Converting categorical variables into dummy/indicator variables
X = pd.get_dummies(X, columns=['State'], drop_first=True)

# Checking the processed features
X.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,117,408,0,0,0,184.5,97,31.37,351.6,80,...,False,False,False,False,False,False,False,False,False,False
1,65,415,0,0,0,129.1,137,21.95,228.5,83,...,False,False,False,False,False,False,False,False,False,False
2,161,415,0,0,0,332.9,67,56.59,317.8,97,...,False,False,False,False,False,False,False,False,False,False
3,111,415,0,0,0,110.4,103,18.77,137.3,102,...,False,False,False,False,False,False,False,False,False,False
4,49,510,0,0,0,119.3,117,20.28,215.1,109,...,False,False,False,False,False,False,False,False,False,False

Train-Test Selection

In [103]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Identifying only the numerical columns for scaling
numerical_columns = ['Account length', 'Area code', 'Number vmail messages', 'Total day minutes', 
                     'Total day calls', 'Total day charge', 'Total eve minutes', 'Total eve calls', 
                     'Total eve charge', 'Total night minutes', 'Total night calls', 'Total night charge', 
                     'Total intl minutes', 'Total intl calls', 'Total intl charge', 'Customer service calls']

# Applying scaling to the numerical features only
scaler = StandardScaler()
X_train[numerical_columns] = scaler.fit_transform(X_train[numerical_columns])
X_test[numerical_columns] = scaler.transform(X_test[numerical_columns])

X_train.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
817,1.756098,1.728955,1,0,-0.592424,1.455315,-1.607355,1.454940,0.867247,1.090295,...,False,False,False,False,True,False,False,False,False,False
1373,0.210621,-0.520789,0,1,1.377450,-0.237029,-0.761577,-0.237405,0.396757,-0.414404,...,False,False,False,False,False,False,False,False,False,False
679,-0.980157,-0.520789,0,0,-0.592424,-1.077742,-1.507851,-1.077690,2.096846,-1.216910,...,False,False,False,False,False,False,False,False,False,False
56,-0.296093,1.728955,0,0,-0.592424,2.255994,-0.264061,2.255620,1.181566,0.689042,...,False,False,False,False,False,False,False,False,False,False
1993,-0.422772,-0.520789,0,0,-0.592424,-0.904868,0.233456,-0.905351,1.519607,-2.019416,...,False,False,False,False,True,False,False,False,False,False

Model Training and Testing

Random Forest Classifier

In [104]:
# Initialize Random Forest Classifier
rf_model = RandomForestClassifier(random_state=42)

# Fitting the model to the training data
rf_model.fit(X_train, y_train)

# I then make predictions on the test data
rf_predictions = rf_model.predict(X_test)

# I then evaluate the Random Forest model
rf_accuracy = accuracy_score(y_test, rf_predictions)
rf_precision = precision_score(y_test, rf_predictions)
rf_recall = recall_score(y_test, rf_predictions)
rf_f1 = f1_score(y_test, rf_predictions)

print(f"Random Forest - Accuracy: {rf_accuracy}, Precision: {rf_precision}, Recall: {rf_recall}, F1 Score: {rf_f1}")

Random Forest - Accuracy: 0.9415292353823088, Precision: 0.9830508474576272, Recall: 0.6041666666666666, F1 Score: 0.7483870967741936

In [105]:
# Fitting the Random Forest model
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

XGBoost Classifier

In [106]:
# I then initialize XGBoost Classifier
xgb_model = XGBClassifier(random_state=42)

# Fitting the model to the training data
xgb_model.fit(X_train, y_train)

# I then make predictions on the test data
xgb_predictions = xgb_model.predict(X_test)

# Evaluating the XGBoost model
xgb_accuracy = accuracy_score(y_test, xgb_predictions)
xgb_precision = precision_score(y_test, xgb_predictions)
xgb_recall = recall_score(y_test, xgb_predictions)
xgb_f1 = f1_score(y_test, xgb_predictions)

print(f"XGBoost - Accuracy: {xgb_accuracy}, Precision: {xgb_precision}, Recall: {xgb_recall}, F1 Score: {xgb_f1}")

XGBoost - Accuracy: 0.9685157421289355, Precision: 0.987012987012987, Recall: 0.7916666666666666, F1 Score: 0.8786127167630057

In [107]:
# Fitting the XGBoost model
xgb_model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=42, ...)

Logistics Regression

In [108]:
from sklearn.linear_model import LogisticRegression

# Initialize Logistic Regression model
lr_model = LogisticRegression(random_state=42, max_iter=1000)

# Fitting the model to the training data
lr_model.fit(X_train, y_train)

# Making predictions on the test data
lr_predictions = lr_model.predict(X_test)

# Evaluating the Logistic Regression model
lr_accuracy = accuracy_score(y_test, lr_predictions)
lr_precision = precision_score(y_test, lr_predictions)
lr_recall = recall_score(y_test, lr_predictions)
lr_f1 = f1_score(y_test, lr_predictions)

print(f"Logistic Regression - Accuracy: {lr_accuracy}, Precision: {lr_precision}, Recall: {lr_recall}, F1 Score: {lr_f1}")

Logistic Regression - Accuracy: 0.863568215892054, Precision: 0.5641025641025641, Recall: 0.22916666666666666, F1 Score: 0.3259259259259259

In [109]:
# Fitting the Logistic Regression model
lr_model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42)

Feature Importance

Random Forest

In [110]:
# I then get feature importances from the Random Forest model
importances = rf_model.feature_importances_
feature_names = X_train.columns

# Creating a DataFrame to display feature importances
importances_df = pd.DataFrame({'Feature': feature_names, 'Importance': importances}).sort_values(by='Importance', ascending=False)

# Displaying the most important features
importances_df.head(10)

                   Feature  Importance
5        Total day minutes    0.115318
7         Total day charge    0.107310
17  Customer service calls    0.104893
18           Total minutes    0.097733
2       International plan    0.071459
8        Total eve minutes    0.044541
10        Total eve charge    0.042776
16       Total intl charge    0.035560
14      Total intl minutes    0.035160
15        Total intl calls    0.034967

XGBoosts

In [111]:
# Getting feature importances from the XGBoost model
xgb_importances = xgb_model.feature_importances_

# Creating a DataFrame to display feature importances
xgb_importances_df = pd.DataFrame({'Feature': feature_names, 'Importance': xgb_importances}).sort_values(by='Importance', ascending=False)

xgb_importances_df.head(10)

                   Feature  Importance
17  Customer service calls    0.147580
3          Voice mail plan    0.138184
2       International plan    0.134900
5        Total day minutes    0.066760
18           Total minutes    0.066542
15        Total intl calls    0.059897
14      Total intl minutes    0.050292
49                State_NJ    0.040026
4    Number vmail messages    0.029167
61                State_TX    0.028741

Logistics Regression

In [112]:
# Getting the coefficients from the Logistic Regression model
coefficients = lr_model.coef_[0]
feature_names = X_train.columns

# Creating a DataFrame to display feature importance
lr_importance_df = pd.DataFrame({'Feature': feature_names, 'Coefficient': coefficients})
lr_importance_df['Importance'] = lr_importance_df['Coefficient'].abs()  # Get absolute values for importance
lr_importance_df = lr_importance_df.sort_values(by='Importance', ascending=False)

# Displaying the most important features
lr_importance_df.head(10)

                   Feature  Coefficient  Importance
2       International plan     2.035385    2.035385
3          Voice mail plan    -1.039782    1.039782
63                State_VA    -1.039347    1.039347
58                State_SC     0.899388    0.899388
64                State_VT    -0.893753    0.893753
61                State_TX     0.854209    0.854209
65                State_WA     0.702770    0.702770
17  Customer service calls     0.658896    0.658896
32                State_IL    -0.653072    0.653072
44                State_MT     0.646537    0.646537